h1 { 
    font-family:'Pacifico', cursive;
    font-weight: lighter
    }
h2   { 
    font-family:'Pacifico', cursive;
    font-weight: lighter
    } 
   

[class^="col"]{
    border: 1px solid black;
    background-color: rgba(199, 162, 117, 0.753);    
    }
[class^="navbar"]{
    font-family: Georgia, 'Times New Roman', Times, serif
    }

img{
    
    opacity: 0.8;
    object-fit: cover;  
   } 

.kuumakivi{
     border-radius: 8px;
       
   }

[class^="accordion"]{
    background-color: rgb(226, 214, 197);
       
   }

 /* divien  */
 
 #background{
     background-color: lightpink;
 }
   
    
    