h1 { 
    font-family:'Pacifico', cursive;
    font-weight: lighter;
    text-align: center;
}

h2{ 
    font-family:'Pacifico', cursive;
    font-weight: lighter;
    color: beige border 2px black;
    text-decoration: underline;
    text-align: center;
    border: 2px black;
} 

p {
 color: white;
 text-align: center;
 margin-top: 10px;

}



#footer{
    background-color: rgb(10, 56, 10);
    object-fit: cover;
    text-align: center;
    margin-top: 10px;

}

#footer2{
    background-color: rgb(211, 84, 49);
    object-fit: cover;
    text-align: center;
    margin-top: 10px;
}    
   

[class^="col"]{
    background-color: rgba(159, 132, 111, 0.982);    
    }

[class^="col-6"]{
    margin-top: 50px;
}   


[class^="navbar"]{
    font-family: Georgia, 'Times New Roman', Times, serif
    }

.navbar-brand{
    font-family:'Pacifico', cursive;
    font-weight: lighter;
    font-size: 30px;
}

.navbar-nav{
    text-align: center;
}


.nav-link{
    font-family:'Pacifico', cursive;
    font-weight: lighter;
    font-size: 20px;
    position: relative;
    overflow: hidden;
}

.nav-link:hover{
    background-color:beige;
}

img{
    
    opacity: 0.8;
    object-fit: cover;  
   } 



.img-fluid{
    width:  1500px;
    height: 300px;    
} 



.img-thumbnail{
    display: flex;
    justify-content: center;
    align-items: center ;    
}

.rounded {
    padding: 1cm;
    width: 230px;
    height: 250px;
}

#responsive-image {
 margin-bottom: 1cm;
}


[class^="accordion"]{
    background-color: rgba(159, 132, 111, 0.982);
    cursor: pointer;
  padding: 5px;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius:12px ;    
}

button.accordion-button {
    background-color:  rgb(226, 214, 197) ;
}



[class^="accordion-header"]{
    background-color: rgb(226, 214, 197);
         
}
 /* divien  */
 
 article {
     text-align: center;
 }

 #content {
     text-align: center;
     
 }
.button1{
    text-align: center;
    margin: auto;
    display: flex;
}
.button2{
    text-align: center;
    margin: auto;
    display: flex;
    margin-top: 1cm;
}
    
#list-group {
    width: 10cm;
    height: 2cm;
    
}   

.list-grouplist-group-flush {
   width: 15cm;
   margin-top: 1cm; 
}