$textColor: black;

@mixin flexCenter {
display: flex;
justify-content: center;
align-items: center;
}

h1 { 

    @include flexCenter();

    font-family:'Pacifico', cursive;
    font-weight: lighter;
    text-align: center;
    }

h2{ 

    @include flexCenter();

    font-family:'Pacifico', cursive;
    font-weight: lighter;
    color: $textColor ;
    text-decoration: underline;
    text-align: center;
    border: 2px black;
    } 



article {

    
}

#content {

    @include flexCenter();
    
}
.button1{
    @include flexCenter();

    margin: auto;
   
}

.button2{

    @include flexCenter();
   
   margin: auto;
   margin-top: 1cm;
}


ul{
    list-style: none;
}

[class^="col"]{
    background-color: rgba(159, 132, 111, 0.982);    
    }


h1 { 
    font-family:'Pacifico', cursive;
    font-weight: lighter;
    text-align: center;
    color: black;
}

h2{ 
    font-family:'Pacifico', cursive;
    font-weight: lighter;
    color: black;
    text-decoration: underline;
    text-align: center;
    border: 2px black;
} 

p {
    color: black;
    text-align: center;
    margin-top: 10px;
   
   }

article {
    text-align: center;
}

#content {
    text-align: center;
    
}
.button1{
   text-align: center;
   margin: auto;
   display: flex;
}
.button2{
   text-align: center;
   margin: auto;
   display: flex;
   margin-top: 1cm;
}
