h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
[class^="col"]{
    border: 1px solid black;
    background-color: pink;    
    }
[class^="navbar"]{
    font-family: Georgia, 'Times New Roman', Times, serif
    }

    .welness{
    background-size: cover;
    height: 10%;
    width:min-content ;
    
    }